.search-tabs {
  position: relative;
  margin-left: 17px;

  &__marker {
    background: #000;
    height: 2px;
    width: 54px;
    position: absolute;
    bottom: -6.5px;
    left: -6px;
  }
}

.search-tabs__list {
  display: flex;
}

.search-tabs {
  display: flex;

  &__list {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    color: secondary(3);
    font-size: 14px;
   

    &.is-active {
      font-weight: 600;
      color: #000;
    }

    i {
      color: $gray2;
    }
  }
}
